In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV

In [2]:
import pickle

In [3]:
with open('./trainset.pickle','rb+') as f:
    trainset = pickle.load(f)

In [4]:
trainset.head()

        indicator                                                          \
step_id   2824.0  2825.0  2829.0  2918.0  2919.0  3139.0  4287.0  4289.0
user_id
1             0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2             0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3             1.0     1.0     1.0     0.0     0.0     0.0     1.0     1.0
4             1.0     1.0     1.0     0.0     0.0     0.0     1.0     1.0
6             1.0     1.0     1.0     0.0     0.0     0.0     1.0     1.0

                          ...                                            \
step_id 4952.0  4955.0    ...   42436.0 42514.0 43605.0 43606.0 43607.0
user_id                   ...
1           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
2           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
3           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
4           0.0     0.0   ...       0.0     0.0     0.0     0.0     0.0
6           1.0     1.0   ...       0.0     0.0     1.0     1.0     1.0


step_id 44097.0 44160.0 44167.0 44174.0 44313.0
user_id
1           0.0     0.0     0.0     0.0     0.0
2           0.0     0.0     0.0     0.0     0.0
3           1.0     0.0     0.0     0.0     0.0
4           1.0     0.0     0.0     0.0     0.0
6           1.0     0.0     0.0     0.0     0.0

[5 rows x 73 columns]

In [5]:
with open('./dur_pas_view.pickle','rb+') as f:
    trainset2 = pickle.load(f)

In [6]:
trainset2.head()

   user_id  duration  passed_count  viewed_count
0        1  5.625000         254.0        1371.0
1        2  0.000000           9.0          11.0
2        3  4.750000          31.0          46.0
3        4  4.583333          66.0         105.0
4        6  2.291667         106.0         198.0

In [7]:
trainset['duration'] = trainset2.duration.values
trainset['passed_count'] = trainset2.passed_count.values
trainset['viewed_count'] = trainset2.viewed_count.values

In [8]:
from sklearn.ensemble import RandomForestClassifier

In [9]:
modul = RandomForestClassifier(n_estimators=10000)

In [10]:
targets = pd.read_csv('./kaggle/targets.csv')

In [11]:
y = targets.passed.values

In [29]:
gsv = GridSearchCV(modul, {'class_weight': [{1: 2}, {1: 5}, {1: 10}, {1: 15}, {1: 25}]}, 
                    n_jobs=1, scoring='f1')

In [30]:
gsv.fit(trainset,y)

GridSearchCV(cv=None, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10000, n_jobs=1, oob_score=False,
            random_state=None, verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'class_weight': [{1: 2}, {1: 5}, {1: 10}, {1: 15}, {1: 25}]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='f1', verbose=0)

In [31]:
gsv.best_score_

0.32938114197603102

In [32]:
gsv.best_params_

{'class_weight': {1: 2}}

In [12]:
with open('./testPivot.pickle','rb+') as f:
    test = pickle.load(f)

In [13]:
with open('./dur_pas_view_test.pickle','rb+') as f:
    test2 = pickle.load(f)

In [14]:
test['duration'] = test2.duration.values
test['passed_count'] = test2.passed_count.values
test['viewed_count'] = test2.viewed_count.values

In [55]:
ans = gsv.predict(test)

In [57]:
result = pd.DataFrame(test2.user_id)
result['passed'] = ans
result.head()

   user_id  passed
0        5       0
1        9       0
2       21       0
3       26       0
4       29       0

In [58]:
result.to_csv('submission.csv', index = False)

In [59]:
result.describe()

            user_id       passed
count   4255.000000  4255.000000
mean   10566.669095     0.009166
std     6017.481505     0.095309
min        5.000000     0.000000
25%     5304.000000     0.000000
50%    10627.000000     0.000000
75%    15788.000000     0.000000
max    20876.000000     1.000000

In [15]:
tr = pd.DataFrame()

In [16]:
def change(trainset):
    tr = pd.DataFrame()
    for col in trainset.columns:
        if col[0] == 'indicator':
            tr[col[1]] = trainset[col]
        else:
            tr[col[0]]= trainset[col]
    return tr

In [17]:
tr = change(trainset)

In [18]:
tr.head()

,2824.0,2825.0,2829.0,2918.0,2919.0,3139.0,4287.0,4289.0,4952.0,4955.0,...,43606.0,43607.0,44097.0,44160.0,44167.0,44174.0,44313.0,duration,passed_count,viewed_count
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.625000,254.0,1371.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,9.0,11.0
3,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4.750000,31.0,46.0
4,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4.583333,66.0,105.0
6,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,2.291667,106.0,198.0

In [19]:
tst = change(test)

In [20]:
from sklearn.ensemble import RandomForestRegressor

In [21]:
y_r = targets.score.values

In [22]:
rfr = RandomForestRegressor(n_estimators=10000)

In [23]:
param = {'max_depth':[None,10,20], 'max_features':['auto',5, 10,25,50]}

In [24]:
gcv2 = GridSearchCV(rfr, param,  n_jobs=2)

In [25]:
gcv2.fit(tr, y_r)

GridSearchCV(cv=None, error_score='raise',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10000, n_jobs=1, oob_score=False,
           random_state=None, verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=2,
       param_grid={'max_features': ['auto', 5, 10, 25, 50], 'max_depth': [None, 10, 20]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [30]:
gcv2.best_score_

0.39619278334641644

In [31]:
gcv2.best_params_

{'max_depth': 10, 'max_features': 5}

In [32]:
with open('regression.pikle','wb') as f:
    pickle.dump(obj=gcv2, file=f)

In [37]:
with open('regression.pikle','wb+') as f:
    pickle.dump(obj=gcv2, file=f)

In [42]:
result = pd.DataFrame(test2.user_id.values)

In [49]:
result['passed'] = gcv2.predict(tst)

In [53]:
result['passed2'] = result.passed.apply(lambda x: 1 if x > 90.4 else 0)

In [46]:
result.head()

    0  passed
0   5       0
1   9       0
2  21       0
3  26       0
4  29       1

In [47]:
result.to_csv('submission_regression.csv', index=False)

In [50]:
result.describe()

                  0       passed
count   4255.000000  4255.000000
mean   10566.669095    11.204049
std     6017.481505    17.750898
min        5.000000     1.622058
25%     5304.000000     1.794377
50%    10627.000000     2.962890
75%    15788.000000    12.355861
max    20876.000000   110.826534

In [102]:
result['r'] = result.passed.apply(lambda x: 1 if x > 64.82 else 0)

In [103]:
result.describe()

                  0       passed            r      passed2
count   4255.000000  4255.000000  4255.000000  4255.000000
mean   10566.669095    11.204049     0.039718     0.003290
std     6017.481505    17.750898     0.195319     0.057273
min        5.000000     1.622058     0.000000     0.000000
25%     5304.000000     1.794377     0.000000     0.000000
50%    10627.000000     2.962890     0.000000     0.000000
75%    15788.000000    12.355861     0.000000     0.000000
max    20876.000000   110.826534     1.000000     1.000000

In [104]:
targets.describe()

            user_id         score        passed   distinction
count  16625.000000  16625.000000  16625.000000  16625.000000
mean   10408.208301     11.727459      0.039639      0.028451
std     6030.045326     25.757249      0.195116      0.166263
min        1.000000      0.000000      0.000000      0.000000
25%     5188.000000      0.000000      0.000000      0.000000
50%    10411.000000      1.000000      0.000000      0.000000
75%    15626.000000      8.000000      0.000000      0.000000
max    20880.000000    119.000000      1.000000      1.000000

In [105]:
result2 = pd.DataFrame()
result2['user_id'] = result[0]
result2['passed'] = result.r

In [106]:
result2.head()

   user_id  passed
0        5       0
1        9       0
2       21       0
3       26       0
4       29       1

In [107]:
result2.to_csv('submission4.csv', index=False)